@import "./common.css";

/* main */

.dailyrecord-main {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  margin: 0;
}

/* intro */

.chef-match {
  margin-top: 330px;
  width: 300px;
  height: 300px;
  margin-right: -120px;
  z-index: 50;
}

/* form */
.meals {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  width: 900px;
  margin-top: 60px;
  height: 500px;
  border-radius: 15px;
  padding: 20px;
  overflow: hidden;
  overflow-y: scroll;
  border: 3px solid #f9e10a;
}

.meals-nav {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: flex-start;
  margin-bottom: 30px;
  position: relative;
}

.meals-nav a {
  color: black;
  margin-right: 30px;
}

.meals-nav .active {
  color: grey;
  border-bottom: 3px #f9e10a solid;
}

.meal-navbar span {
  margin-right: 100px;
}

/* nutrition charts */
.nutritionCountTips {
  color: grey;
  font-size: 10px;
  cursor: pointer;
  border-bottom: 1px grey solid;
  letter-spacing: 1px;
  position: absolute;
  right: 10px;
  top: 7px;
}

.informationIcon {
  width: 20px;
  height: 20px;
  display: none;
}

.closeInfoDiv {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 50;
  top: 0;
  left: 0;
  background: #f5efbc96;
}

.nutritionInfo {
  position: relative;
}

.nutritionInfoDetails {
  background-color: white;
  position: fixed;
  width: 900px;
  height: 300px;
  border-radius: 30px;
  padding: 20px;
  margin-top: calc(50vh - 300px / 2);
  margin-left: calc(50vw - 900px / 2);
}
.teaching {
  margin-bottom: 30px;
}

.halffist,
.leftwholepalm,
.halfpalm,
.wholepalm,
.onefinger {
  width: 28px;
  height: 28px;
}

.allInformation {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
}

.categoryTitle {
  color: grey;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  width: 20%;
}

.categoryServe {
  color: grey;
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  font-size: 20px;
  width: 50%;
}

.categoryTitle span,
.categoryServe span,
.categoryServeIMG div {
  margin: 3px auto 3px 0px;
}

.categoryServeIMG {
  display: flex;
  flex-direction: column;
}

/* 
.category {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 60%;
}

.categoryTitle {
  color: grey;
  margin-right: 15px;
  font-size: 20px;
}

.categoryServe {
  color: grey;
  margin-right: 15px;
  font-size: 18px;
} */

.food-icon {
  width: 15px;
  margin-right: 10px;
}

.input-form {
  display: flex;
  flex-direction: column;
}

.main-input {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.input-form input {
  outline: 0;
  border-width: 0 0 2px;
  border-color: lightgray;
  margin-top: 10px;
}

.food-name {
  width: 300px;
  text-indent: 10px;
  border-bottom: 1px solid lightgrey;
  height: 30px;
  margin: 15px 10px 15px 0px;
  font-size: 14px;
}

.food-serve {
  width: 250px;
  text-indent: 10px;
  border-bottom: 1px solid lightgrey;
  height: 30px;
  margin: 15px 30px 15px 30px;
  font-size: 14px;
}

.input-form span {
  margin: 0px 10px;
}

.delete-button {
  width: 15px;
  height: 15px;
  margin-left: 10px;
}

.add-record {
  border-radius: 8px;
  background: #f7ed97;
  border: none;
  color: black;
  text-align: center;
  font-size: 15px;
  padding: 10px;
  width: 100px;
  cursor: pointer;
  margin-top: 20px;
  float: right;
  margin-right: 30px;
}

.add-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.add-button {
  width: 15px;
  height: 15px;
  margin-right: 10px;
}

.add-input-word {
  font-size: 12px;
}

.main-form {
  width: 80%;
  align-self: center;
}

/* search suggestion*/
.searchSuggestion ul {
  position: absolute;
  margin-left: 25px;
  font-size: 12px;
  height: 200px;
  overflow: hidden;
  overflow-y: scroll;
  list-style-type: none;
  background-color: #fbf3a8;
  padding: 0;
  width: 320px;
  z-index: 1;
}

.searchSuggestion ul li {
  margin: 5px auto;
  text-indent: 10px;
  cursor: pointer;
}

.food-name {
  position: relative;
}

.searchSuggestion {
  position: absolute;
}

@media (max-width: 1230px) {
  .meals {
    width: 800px;
  }
}

@media (max-width: 1120px) {
  .meals {
    width: 700px;
  }
  .food-name,
  .searchSuggestion ul {
    width: 250px;
  }

  .food-serve {
    width: 250px;
  }
  .nutritionInfoDetails {
    width: 700px;
    margin-left: calc(50vw - 700px / 2);
  }
  .categoryTitle {
    width: 30%;
  }
  .categoryServe {
    width: 40%;
  }
}

@media (max-width: 990px) {
  .meals {
    width: 650px;
  }
  .food-name,
  .searchSuggestion ul {
    width: 200px;
  }

  .food-serve {
    width: 200px;
  }
}

@media (max-width: 935px) {
  .meals {
    width: 650px;
  }
  .main-input {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 10px;
  }
  .food-name,
  .searchSuggestion ul {
    text-indent: 0px;
    margin: 5px 10px 15px 0px;
  }

  .searchSuggestion ul {
    margin-left: 1px;
    margin-top: 50px;
  }

  .food-serve {
    text-indent: 0px;
    margin: 0 0 5px 0;
  }
}

@media (max-width: 920px) {
  .meals {
    width: 550px;
  }
  .chef-match {
    margin-top: 450px;
    width: 200px;
    height: 200px;
    margin-right: -100px;
  }
  .nutritionInfoDetails {
    height: 300px;
    width: 500px;
    margin-top: calc(50vh - 300px / 2);
    margin-left: calc(50vw - 500px / 2);
  }

  .categoryTitle {
    font-size: 15px;
    width: 15%;
  }

  .categoryServe {
    font-size: 15px;
    width: 30%;
  }
  .halffist,
  .leftwholepalm,
  .halfpalm,
  .wholepalm,
  .onefinger {
    width: 17px;
    height: 17px;
  }

  .categoryServeIMG div {
    margin: 2px auto 2px 0px;
  }
}

@media (max-width: 730px) {
  .meals {
    width: 450px;
  }
  .chef-match {
    margin-right: -80px;
  }
}

@media (max-width: 635px) {
  .meals {
    width: 400px;
  }
  .add-record {
    margin-right: 0;
  }
}
@media (max-width: 620px) {
  .teaching {
    font-size: 15px;
    margin-bottom: 20px;
  }
  .nutritionInfoDetails {
    height: 200px;
    width: 250px;
    margin-top: calc(50vh - 200px / 2);
    margin-left: calc(50vw - 275px / 2);
  }

  .categoryTitle {
    font-size: 12px;
    width: 30%;
  }

  .categoryServe {
    font-size: 12px;
    width: 60%;
  }
  .halffist,
  .leftwholepalm,
  .halfpalm,
  .wholepalm,
  .onefinger {
    display: none;
  }
}
@media (max-width: 600px) {
  .chef-match {
    display: none;
  }
  .searchSuggestion ul {
    width: 200px;
  }
}

@media (max-width: 500px) {
  .nutritionCountTips {
    display: none;
  }

  .informationIcon {
    display: inline-block;
    position: absolute;
    right: 5px;
    top: 7px;
  }
}

@media (max-width: 475px) {
  .chef-match {
    display: none;
  }
  .meals {
    width: 350px;
  }
  .main-form {
    align-self: flex-start;
  }
  .searchSuggestion ul {
    width: 180px;
  }
}

@media (max-width: 400px) {
  .meals {
    width: 300px;
  }
  .searchSuggestion ul {
    width: 130px;
  }
}
