@import "./common.css";

/* main */

.dailyrecord-main {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  margin: 0;
}

/* intro */

.chef-match {
  margin-top: 330px;
  width: 300px;
  height: 300px;
  margin-right: -120px;
  z-index: 50;
}

/* form */
.meals {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  width: 900px;
  margin-top: 60px;
  height: 500px;
  border-radius: 15px;
  padding: 20px;
  overflow: hidden;
  overflow-y: scroll;
  border: 3px solid #f9e10a;
}

.meals-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 30px;
}

.meals-nav a {
  color: black;
  margin-right: 30px;
}

.meals-nav .active {
  color: grey;
  border-bottom: 3px #f9e10a solid;
}

.meal-navbar span {
  margin-right: 100px;
}

.food-icon {
  width: 15px;
  margin-right: 10px;
}

.input-form {
  display: flex;
  flex-direction: column;
}

.main-input {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.input-form input {
  outline: 0;
  border-width: 0 0 2px;
  border-color: lightgray;
  margin-top: 10px;
}

.food-name {
  width: 300px;
  text-indent: 10px;
  border-bottom: 1px solid lightgrey;
  height: 30px;
  margin: 15px 10px 15px 0px;
  font-size: 14px;
}

.food-serve {
  width: 250px;
  text-indent: 10px;
  border-bottom: 1px solid lightgrey;
  height: 30px;
  margin: 15px 30px 15px 30px;
  font-size: 14px;
}

.input-form span {
  margin: 0px 10px;
}

.delete-button {
  width: 15px;
  height: 15px;
  margin-left: 10px;
}

.add-record {
  border-radius: 8px;
  background: #f7ed97;
  border: none;
  color: black;
  text-align: center;
  font-size: 15px;
  padding: 10px;
  width: 100px;
  cursor: pointer;
  margin-top: 20px;
  float: right;
  margin-right: 30px;
}

.add-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.add-button {
  width: 15px;
  height: 15px;
  margin-right: 10px;
}

.add-input-word {
  font-size: 12px;
}

.main-form {
  width: 80%;
  align-self: center;
}

/* search suggestion*/
.searchSuggestion ul {
  position: absolute;
  /* left: 10;
  top: -2; */
  margin-left: 25px;
  font-size: 12px;
  height: 200px;
  overflow: hidden;
  overflow-y: scroll;
  list-style-type: none;
  background-color: #fbf3a8;
  padding: 0;
  width: 320px;
  z-index: 1;
}

.searchSuggestion ul li {
  margin: 5px auto;
  text-indent: 10px;
  cursor: pointer;
}

.turnOffDiv {
  /* width: 3000px;
  background-color: aquamarine;
  height: 3000px;
  z-index: -1;
  position: absolute; */
}

.food-name {
  position: relative;
}

.searchSuggestion {
  position: absolute;
}

@media (max-width: 1230px) {
  .meals {
    width: 800px;
  }
}

@media (max-width: 1120px) {
  .meals {
    width: 700px;
  }
  .food-name,
  .searchSuggestion ul {
    width: 250px;
  }

  .food-serve {
    width: 250px;
  }
}

@media (max-width: 990px) {
  .meals {
    width: 650px;
  }
  .food-name,
  .searchSuggestion ul {
    width: 200px;
  }

  .food-serve {
    width: 200px;
  }
}

@media (max-width: 935px) {
  .meals {
    width: 650px;
  }
  .main-input {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 10px;
  }
  .food-name,
  .searchSuggestion ul {
    text-indent: 0px;
    margin: 5px 10px 15px 0px;
  }

  .searchSuggestion ul {
    margin-left: 1px;
    margin-top: 50px;
  }

  .food-serve {
    text-indent: 0px;
    margin: 0 0 5px 0;
  }
}

@media (max-width: 920px) {
  .meals {
    width: 550px;
  }
  .chef-match {
    margin-top: 450px;
    width: 200px;
    height: 200px;
    margin-right: -100px;
  }
}

@media (max-width: 730px) {
  .meals {
    width: 450px;
  }
  .chef-match {
    margin-right: -80px;
  }
}

@media (max-width: 635px) {
  .meals {
    width: 400px;
  }
  .add-record {
    margin-right: 0;
  }
}
@media (max-width: 600px) {
  .chef-match {
    display: none;
  }
  .searchSuggestion ul {
    width: 200px;
  }
}

@media (max-width: 475px) {
  .chef-match {
    display: none;
  }
  .meals {
    width: 350px;
  }
  .main-form {
    align-self: flex-start;
  }
  .searchSuggestion ul {
    width: 180px;
  }
}

@media (max-width: 400px) {
  .meals {
    width: 300px;
  }
  .searchSuggestion ul {
    width: 130px;
  }
}
