@import "./common.css";

/* main */

.dailyrecord-main {
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: space-around;
  margin-left: 30px;
  margin-right: 10px;
}

/* intro */

.hello-intro {
  position: absolute;
  bottom: 0px;
  left: 5%;
}

.chef-match {
  position: relative;
  bottom: 30px;
  width: 300px;
}

.thinking {
  position: relative;
  bottom: 150px;
  right: 30px;
  width: 150px;
}

.marquee {
  position: absolute;
  bottom: 300px;
  right: 30px;
  top: -120px;
}

/* form */
.main-form {
  /* width: 100%;
  margin-left: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center; */
}

/* .meals-border {
  width: 100%;
  height: 700px;
  margin-left: 600px;
  margin-top: 30px;
  background-color: #f7ed97;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  border-radius: 5px;
} */

.meals {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  width: 650px;
  margin-top: 30px;
  height: 700px;
  border-radius: 15px;
  padding: 15px;
  overflow: hidden;
  overflow-y: scroll;
  margin-left: 600px;
  border: 2px solid #f9e10a;
}

.meals-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 30px;
}

.meals-nav a {
  color: black;
  margin-right: 30px;
}

.meals-nav .active {
  color: grey;
  border-bottom: 3px #f9e10a solid;
}

.meal-navbar span {
  margin-right: 100px;
}

.food-icon {
  width: 15px;
  margin-right: 10px;
}

.input-form {
  display: flex;
  flex-direction: column;
}

.main-input {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.input-form input {
  outline: 0;
  border-width: 0 0 2px;
  border-color: lightgray;
  margin-top: 10px;
}

.food-name {
  width: 300px;
  text-indent: 10px;
  border-bottom: 1px solid lightgrey;
  height: 30px;
  margin: 15px 10px 15px 0px;
  font-size: 14px;
}

.food-serve {
  width: 250px;
  text-indent: 10px;
  border-bottom: 1px solid lightgrey;
  height: 30px;
  margin: 15px 30px 15px 30px;
  font-size: 14px;
}

.input-form span {
  margin: 0px 10px;
}

.delete-button {
  width: 15px;
  height: 15px;
  margin-left: 10px;
}

.add-record {
  display: inline-block;
  border-radius: 8px;
  background: #f7ed97;
  border: none;
  color: black;
  text-align: center;
  font-size: 15px;
  padding: 10px;
  width: 100px;
  cursor: pointer;
  margin-top: 20px;
}

.add-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.add-button {
  width: 15px;
  height: 15px;
  margin-right: 10px;
}

.add-input-word {
  font-size: 12px;
}

/* search suggestion*/
.searchSuggestion ul {
  font-size: 12px;
  overflow-y: scroll;
  height: 200px;
  overflow: hidden;
  overflow-y: scroll;
  list-style-type: none;
  background-color: #fbf3a898;
  padding: 0;
  width: 300px;
}

.searchSuggestion ul li {
  margin: 5px auto;
  text-indent: 10px;
  cursor: pointer;
  position: absolute;
  z-index: 1;
}

.turnOffDiv {
  width: 3000px;
  background-color: aquamarine;
  height: 3000px;
  z-index: -1;
  position: absolute;
}

.food-name {
  position: relative;
}

.searchSuggestion {
  position: absolute;
}

/* marquee */

.thinking .marquee {
  height: 100px;
  width: 100%;
  overflow: hidden;
}

.marquee div {
  display: block;
  width: 60%;
  height: 30px;
  position: absolute;
  overflow: hidden;
  animation: marquee 5s linear infinite;
  display: flex;
  flex-direction: row;
}

.marquee img {
  float: left;
  width: 30px;
  height: 30px;
  margin: 0 10px;
}

@keyframes marquee {
  from {
    left: 0%;
  }
  to {
    left: 100%;
  }
}
/* 
.hiddenDiv {
  overflow: hidden;
} */
