@import "./common.css";

.date-filter-div {
  width: 75%;
  margin: 60px auto 10px auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.date-range-input {
  width: 450px;
  height: 50px;
  border: 2px solid #f9e10d;
  background-color: white;
  border-radius: 50px;
  font-size: 15px;
  letter-spacing: 3px;
  margin-right: 30px;
  text-indent: 20px;
}

.date-filter-button {
  display: inline-block;
  border: none;
  width: 120px;
  height: 55px;
  font-size: 16px;
  text-align: center;
  color: white;
  background: #f9e10a;
  border-radius: 50px;
  padding: 10px;
  margin: auto 10px 10px 10px;
  letter-spacing: 5px;
  transition: all 0.5s;
  cursor: pointer;
}

.date-filter-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  letter-spacing: 1px;
}

.date-filter-button span:after {
  content: "\00bb ";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.date-filter-button:hover span {
  padding-right: 25px;
}

.date-filter-button:hover span:after {
  opacity: 1;
  right: 0;
}

.calendar-background-div {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: #f3e6759a;
}

.calendar {
  z-index: 5;
}

.date-picker {
  display: flex;
  flex-direction: row;
  margin: 50px auto;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.start-date,
.end-date {
  font-size: 16px;
  margin: auto 30px;
}

.start-date-input,
.end-date-input {
  width: 150px;
  text-indent: 10px;
  border-bottom: 1px solid lightgrey;
  height: 30px;
  margin: 15px 10px 15px 0px;
  font-size: 14px;
}

.lineCharts {
  width: 800px;
  margin: 100px auto;
  z-index: -1;
}

.date-submit {
  margin-left: 50px;
  border-radius: 12px;
  display: inline-block;
  background: #f7ed97;
  border: none;
  color: black;
  text-align: center;
  font-size: 15px;
  padding: 10px;
  width: 100px;
  cursor: pointer;
  /* margin: 10px; */
}

@media (max-width: 1510px) {
  .start-date,
  .end-date {
    font-size: 14px;
    margin: auto 15px;
  }
  .date-picker {
    width: 70%;
  }
  .date-submit {
    font-size: 12px;
    padding: 8px;
    width: 80px;
  }
}

@media (max-width: 950px) {
  .lineCharts {
    width: 600px;
    margin: 100px auto;
  }
  .start-date,
  .end-date {
    font-size: 14px;
    margin: auto 10px;
  }
  .start-date-input,
  .end-date-input {
    padding: 5px 10px;
  }
  .date-submit {
    margin-left: 20px;
    font-size: 12px;
    width: 80px;
  }
}

@media (max-width: 920px) {
  .start-date-input,
  .end-date-input {
    width: 100px;
  }
}

@media (max-width: 830px) {
  .start-date-input,
  .end-date-input {
    padding: 5px 5px;
  }
}

@media (max-width: 800px) {
  .date-picker {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .date-submit {
    margin: 30px 10px;
  }
}

@media (max-width: 650px) {
  .date-picker {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 75%;
  }
  .date-submit {
    margin: 0px;
  }
  .start-date,
  .end-date {
    margin: 10px 0px;
  }
  .lineCharts {
    width: 500px;
    margin: 80px auto;
  }

  .start-date-input,
  .end-date-input {
    text-indent: 0px;
    width: 80px;
  }
}

@media (max-width: 510px) {
  .date-picker {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .lineCharts {
    width: 400px;
    margin: 70px auto;
  }
  .start-date,
  .end-date {
    font-size: 12px;
  }
}

@media (max-width: 450px) {
  .lineCharts {
    width: 400px;
    margin: 60px auto;
  }
}

@media (max-width: 420px) {
  .lineCharts {
    width: 360px;
    margin: 30px auto;
  }
  .start-date,
  .end-date {
    font-size: 12px;
  }
  .start-date-input,
  .end-date-input {
    width: 70px;
    margin: 0;
  }
  .date-picker {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 90%;
    margin-left: 20px;
  }
  .date-submit {
    margin-top: 10px;
    font-size: 10px;
    padding: 6px;
  }
}
