@import "./common.css";

/* .calendar {
  display: flex;
  flex-direction: column;
  width: 500px;
  border: solid 1px lightgray;
  box-shadow: 0 0 15px 0 #c0c0c0;
  font-size: 10px;
  text-align: center;
  margin: 0px;
  border-radius: 10px;
}

.calendarHeader {
  background-color: #f9e10a;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  font-weight: bold;
}

.monthRow,
.dayRow {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.monthRow {
  width: 70%;
  justify-content: center;
}

.dayRow {
  width: 80%;
  justify-content: space-around;
}

.weekRow {
  display: flex;
  flex: row;
  width: 80%;
  justify-content: space-around;
  margin: 10px auto;
}

.day {
  align-items: center;
} */

.date-picker {
  display: flex;
  flex-direction: row;
  margin: 50px auto;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.start-date,
.end-date {
  font-size: 16px;
  margin: auto 30px;
}

.start-date-input,
.end-date-input {
  padding: 5px 15px;
  background: #f7ed97;
  border: 0 none;
  border-radius: 5px;
  height: 16px;
}

.lineCharts {
  width: 800px;
  margin: 100px auto;
}

.date-submit {
  margin-left: 50px;
  border-radius: 12px;
  display: inline-block;
  background: #f7ed97;
  border: none;
  color: black;
  text-align: center;
  font-size: 15px;
  padding: 10px;
  width: 100px;
  cursor: pointer;
  /* margin: 10px; */
}

@media (max-width: 1510px) {
  .start-date,
  .end-date {
    font-size: 14px;
    margin: auto 15px;
  }
  .date-picker {
    width: 70%;
  }
}

@media (max-width: 950px) {
  .lineCharts {
    width: 600px;
    margin: 100px auto;
  }
  .start-date,
  .end-date {
    font-size: 14px;
    margin: auto 10px;
  }
  .start-date-input,
  .end-date-input {
    padding: 5px 10px;
  }
  .date-submit {
    margin-left: 20px;
    font-size: 12px;
    width: 80px;
  }
}

@media (max-width: 830px) {
  .start-date-input,
  .end-date-input {
    padding: 5px 5px;
  }
}

@media (max-width: 800px) {
  .date-picker {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .date-submit {
    margin: 30px 10px;
  }
}

@media (max-width: 650px) {
  .date-picker {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    width: 75%;
  }
  .date-submit {
    margin: 30px 0px 0px 0px;
  }
  .start-date,
  .end-date {
    margin: 10px 0px;
  }
  .lineCharts {
    width: 500px;
    margin: 80px auto;
  }
}

@media (max-width: 510px) {
  .date-picker {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .lineCharts {
    width: 400px;
    margin: 70px auto;
  }
  .start-date,
  .end-date {
    font-size: 12px;
  }
}

@media (max-width: 450px) {
  .lineCharts {
    width: 400px;
    margin: 60px auto;
  }
}

@media (max-width: 400px) {
  .lineCharts {
    width: 360px;
    margin: 30px auto;
  }
}
