@import "./common.css";

/* .calendar {
  display: flex;
  flex-direction: column;
  width: 500px;
  border: solid 1px lightgray;
  box-shadow: 0 0 15px 0 #c0c0c0;
  font-size: 10px;
  text-align: center;
  margin: 0px;
  border-radius: 10px;
}

.calendarHeader {
  background-color: #f9e10a;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  font-weight: bold;
}

.monthRow,
.dayRow {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.monthRow {
  width: 70%;
  justify-content: center;
}

.dayRow {
  width: 80%;
  justify-content: space-around;
}

.weekRow {
  display: flex;
  flex: row;
  width: 80%;
  justify-content: space-around;
  margin: 10px auto;
}

.day {
  align-items: center;
} */

.date-picker {
  display: flex;
  flex-direction: row;
  margin: 50px auto;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.start-date,
.end-date {
  font-size: 16px;
  margin: auto 30px;
}

.start-date-input,
.end-date-input {
  padding: 5px 15px;
  background: #f7ed97;
  border: 0 none;
  border-radius: 5px;
  height: 16px;
}

.lineCharts {
  width: 800px;
  margin: 100px auto;
}

.date-submit {
  margin-left: 30px;
  border-radius: 12px;
  cursor: pointer;
}
