@import "./common.css";

.home-main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
}

/* intro */
.home-intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-intro > h1 {
  letter-spacing: 2px;
  font-size: 60px;
  margin-top: 10px;
  letter-spacing: 3px;
}

.home-intro > h3 {
  font-weight: normal;
  font-size: 30px;
  margin-top: 15px;
  letter-spacing: 2px;
}

.home-intro > p {
  color: grey;
  font-size: 20px;
  letter-spacing: 2px;
}

.start-button {
  display: inline-block;
  border-radius: 8px;
  background: #f7ed97;
  border: none;
  color: black;
  text-align: center;
  font-size: 15px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin-top: 20px;
}

.start-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  letter-spacing: 1px;
}

.start-button span:after {
  content: "\00bb ";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.start-button:hover span {
  padding-right: 25px;
}

.start-button:hover span:after {
  opacity: 1;
  right: 0;
}

.main-match {
  width: 100%;
  max-width: 600px;
  height: auto;
}

@media (max-width: 1530px) {
  .home-main {
    width: 80%;
  }
}

@media (max-width: 1310px) {
  .home-main {
    width: 85%;
  }
}

@media (max-width: 1290px) {
  .home-intro > h1 {
    font-size: 55px;
  }

  .home-intro > h3 {
    font-size: 25px;
  }

  .home-intro > p {
    font-size: 20px;
  }

  .start-button {
    padding: 15px;
    width: 180px;
  }

  .main-match {
    max-width: 550px;
  }
}

@media (max-width: 1010px) {
  .home-intro > h1 {
    font-size: 40px;
  }

  .home-intro > p {
    font-size: 15px;
  }

  .main-match {
    max-width: 400px;
  }
}

@media (max-width: 1045px) {
  .home-main {
    flex-direction: column;
  }
  .home-intro {
    display: inline-block;
    margin: 10px auto 35px auto;
  }
  .start-button {
    margin: auto;
  }
  .main-match {
    margin: auto;
  }
}

@media (max-width: 815px) {
  .home-intro > h1 {
    font-size: 30px;
  }

  .home-intro > p {
    font-size: 15px;
  }

  .main-match {
    max-width: 300px;
  }
}
