@import "./common.css";

.home-main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
}

/* intro */
.home-intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-intro > h1 {
  letter-spacing: 2px;
  font-size: 60px;
  margin-top: 10px;
}

.home-intro > h3 {
  font-weight: normal;
  font-size: 30px;
  margin-top: 15px;
}

.home-intro > p {
  color: grey;
  font-size: 20px;
}

.start-button {
  display: inline-block;
  border-radius: 8px;
  background: #f7ed97;
  border: none;
  color: black;
  text-align: center;
  font-size: 15px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin-top: 20px;
}

.start-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.start-button span:after {
  content: "\00bb ";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.start-button:hover span {
  padding-right: 25px;
}

.start-button:hover span:after {
  opacity: 1;
  right: 0;
}

.main-match {
  width: 100%;
  max-width: 600px;
  height: auto;
}

@media (max-width: 1475px) {
  .home-main {
    width: 80%;
  }
}

@media (max-width: 1290px) {
  .home-intro > h1 {
    font-size: 50px;
  }

  .home-intro > h3 {
    font-size: 25px;
  }

  .home-intro > p {
    font-size: 20px;
  }

  .start-button {
    padding: 10px;
    width: 150px;
  }

  .main-match {
    max-width: 500px;
  }
}

@media (max-width: 1010px) {
  .home-intro > h1 {
    font-size: 40px;
  }

  .home-intro > p {
    font-size: 15px;
  }

  .main-match {
    max-width: 400px;
  }
}

@media (max-width: 815px) {
  .home-intro > h1 {
    font-size: 30px;
  }

  .home-intro > p {
    font-size: 15px;
  }

  .main-match {
    max-width: 300px;
  }
}

/* animation */

/* body {
  margin: 20px;
} */
/* 
.marquee {
  height: 100px;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.marquee div {
  display: block;
  width: 200%;
  height: 30px;
  position: absolute;
  overflow: hidden;
  animation: marquee 10s linear infinite;
  display: flex;
  flex-direction: row;
}

.marquee img {
  float: left;
  width: 30px;
  height: 30px;
  margin: 0 30px;
}

@keyframes marquee {
  from {
    left: 0;
  }
  to {
    left: 100%;
  }
} */
