@import "./common.css";

.main-info {
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: center;
  margin: 60px auto;
  border-radius: 10px;
}

.userID > input {
  background-color: #fbf6c7d7;
  color: grey;
  font-size: 16px;
  letter-spacing: 3px;
  width: 100%;
}

.ChefMatch,
.ChefMatch2 {
  width: 200px;
}

.accountEdit,
.basicInfoEdit,
.matchEdit {
  width: 15px;
  margin-left: 30px;
  cursor: pointer;
}

.cancel,
.check {
  width: 15px;
  margin-left: 15px;
}

.more-info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 80%;
}

.more-info-basic,
.more-info-match {
  width: 100%;
  margin: 10px auto 10px 130px;
}

.titleTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #f9e10a;
  width: 100%;
  margin: auto 0px 20px 40px;
}

.ChefMatch {
  margin: auto auto 80px auto;
}

.divideLine {
  width: 60%;
  border-bottom: 5px solid #f9e10a;
  margin-left: 20px;
}

.userID,
.userPassword,
.userName,
.userEmail,
.userAge,
.userSexual,
.userHeight,
.userWeight,
.userMatchName,
.userMatchPic {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  text-align: center;
  width: 80%;
  color: grey;
  font-size: 16px;
  letter-spacing: 3px;
}

.userName,
.userEmail,
.userAge,
.userSexual,
.userHeight,
.userWeight,
.userMatchName,
.userMatchPic {
  margin: 10px 0 10px 10px;
}

.userID div:first-of-type,
.userPassword div:first-of-type,
.userName div:first-of-type,
.userEmail div:first-of-type,
.userAge div:first-of-type,
.userSexual div:first-of-type,
.userHeight div:first-of-type,
.userWeight div:first-of-type,
.userMatchName div:first-of-type,
.userMatchPic div:first-of-type {
  margin: 10px 10px 10px 30px;
  color: black;
  font-size: 18px;
}

.userPassword > input {
  background-color: #fbf6c7d7;
  color: grey;
  font-size: 16px;
  letter-spacing: 3px;
}

.userName > input,
.userAge > input,
.userEmail > input,
.userSexual > input,
.userHeight > input,
.userWeight > input,
.userMatchName > input,
.userMatchPic > input {
  color: grey;
  font-size: 16px;
  letter-spacing: 3px;
  width: 65%;
  margin-left: 50px;
  background-color: white;
}

/* contribution-info */
.userContribution {
  display: flex;
  flex-direction: row;
}

.contributionEachFood {
  background-color: #f9910a;
  border-radius: 20px;
  padding: 5px 10px;
  color: white;
  cursor: pointer;
  text-align: center;
  font-size: 18px;
  margin: 10px 100px 10px 30px;
  letter-spacing: 3px;
}

.contributionEachFoodDetails {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 10px;
  background-color: #faf5c9;
  position: relative;
  width: 45%;
  margin-right: 30px;
}

.contributionEachNutritionName {
  margin-left: 25px;
}

.contributionEachNutritionNumber {
  margin-left: 35px;
}

.contributionEachNutritionName p,
.contributionEachNutritionNumber p {
  color: black;
  font-size: 18px;
  text-align: left;
}

.detailsCloseButton {
  display: inline-block;
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}

/* signup redirect box*/
.backgroundSignUpRedirectBox {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 50;
  top: 0;
  left: 0;
  background: #f5efbc00;
}

.signUpRedirectBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  position: relative;
  width: 500px;
  height: 445px;
  border-radius: 5px;
  padding: 20px;
  margin-top: calc(50vh - 445px / 2);
  margin-left: calc(50vw - 550px / 2);
  border: 7px solid #f9e10a;
  box-shadow: 0px 0px 0px 15px #f7ed97;
}

.signUpRedirectBox button {
  display: inline-block;
  border: none;
  width: 150px;
  font-size: 16px;
  text-align: center;
  color: white;
  background: #f9e10a;
  border-radius: 50px;
  padding: 10px;
  margin: 30px 10px 10px 10px;
  letter-spacing: 5px;
  transition: all 0.5s;
  cursor: pointer;
}

.signUpRedirectBox button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  letter-spacing: 1px;
  color: black;
}

.signUpRedirectBox button span:after {
  content: "\00bb ";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.signUpRedirectBox button:hover span {
  padding-right: 25px;
}

.signUpRedirectBox button:hover span:after {
  opacity: 1;
  right: 0;
}

.signUpRedirectBoxDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signUpRedirectBoxDetails p {
  font-size: 20px;
}
.signUpRedirectBoxDetails span {
  font-size: 15px;
}

.love-match {
  width: 200px;
  margin-top: 10px;
}
.mobileContributionEachFoodDetails {
  display: none;
}

@media (max-width: 1610px) {
  .userID,
  .userPassword,
  .userName,
  .userEmail,
  .userAge,
  .userSexual,
  .userHeight,
  .userWeight,
  .userMatchName,
  .userMatchPic {
    width: 100%;
  }
}

@media (max-width: 1285px) {
  .more-info {
    width: 50%;
  }
  .userName > input,
  .userEmail > input,
  .userAge > input,
  .userSexual > input,
  .userHeight > input,
  .userWeight > input,
  .userMatchName > input,
  .userMatchPic > input {
    width: 50%;
  }
  .titleTitle {
    width: 100%;
  }
}

@media (max-width: 1200px) {
  .more-info {
    width: 70%;
  }
}

@media (max-width: 730px) {
  .signUpRedirectBox {
    width: 400px;
    margin-left: calc(50vw - 450px / 2);
  }
}

@media (max-width: 720px) {
  .main-info {
    width: 90%;
  }
}

@media (max-width: 585px) {
  .main-info {
    width: 100%;
  }
  .userID,
  .userPassword,
  .userName,
  .userEmail,
  .userAge,
  .userSexual,
  .userHeight,
  .userWeight,
  .userMatchName,
  .userMatchPic {
    flex-direction: column;
    justify-content: flex-start;
  }
  .userID div:first-of-type,
  .userPassword div:first-of-type,
  .userName div:first-of-type,
  .userEmail div:first-of-type,
  .userAge div:first-of-type,
  .userSexual div:first-of-type,
  .userHeight div:first-of-type,
  .userWeight div:first-of-type,
  .userMatchName div:first-of-type,
  .userMatchPic div:first-of-type,
  .titleTitle {
    margin: 10px auto 10px 0px;
  }
  .contributionEachNutritionName p {
    margin-left: 20px;
  }
  .contributionEachNutritionNumber p {
    margin-right: 20px;
  }
  .userName > input,
  .userEmail > input,
  .userAge > input,
  .userSexual > input,
  .userHeight > input,
  .userWeight > input,
  .userMatchName > input,
  .userMatchPic > input {
    width: 100%;
  }
  .userName,
  .userEmail,
  .userAge,
  .userSexual,
  .userHeight,
  .userWeight,
  .userMatchName,
  .userMatchPic {
    margin: 10px 10px 10px 0px;
  }
}

@media (max-width: 560px) {
  .signUpRedirectBox {
    width: 300px;
    margin-left: calc(50vw - 350px / 2);
    height: 350px;
    margin-top: calc(50vh - 350px / 2);
  }
  .love-match {
    width: 150px;
  }
  .signUpRedirectBoxDetails span {
    font-size: 12px;
  }
  .signUpRedirectBox button span {
    font-size: 15px;
  }
}

@media (max-width: 430px) {
  .signUpRedirectBox {
    width: 200px;
    margin-left: calc(50vw - 250px / 2);
    height: 300px;
    margin-top: calc(50vh - 300px / 2);
  }

  .signUpRedirectBoxDetails p {
    font-size: 15px;
  }
  .love-match {
    width: 100px;
  }
  .signUpRedirectBoxDetails span {
    font-size: 10px;
  }
  .signUpRedirectBox button span {
    font-size: 10px;
  }
  .signUpRedirectBox button {
    width: 150px;
    padding: 5px;
  }
}

@media (max-width: 1660px) {
  .more-info-basic,
  .more-info-match {
    margin: 10px auto 10px 100px;
  }
}

@media (max-width: 1615px) {
  .userName > input,
  .userAge > input,
  .userEmail > input,
  .userSexual > input,
  .userHeight > input,
  .userWeight > input,
  .userMatchName > input,
  .userMatchPic > input {
    width: 45%;
  }
}

@media (max-width: 1410px) {
  .more-info-basic,
  .more-info-match {
    margin: 10px auto 10px 90px;
  }
  .contributionEachFood {
    margin: 10px 60px 10px 30px;
  }
}

@media (max-width: 1285px) {
  .more-info {
    width: 100%;
  }
  .titleTitle {
    width: 90%;
  }
}

@media (max-width: 1050px) {
  .more-info-basic,
  .more-info-match {
    margin: 10px auto 10px 70px;
  }
}

@media (max-width: 950px) {
  .more-info-basic,
  .more-info-match {
    margin: 10px auto 10px 50px;
  }
  .contributionEachFood {
    margin: 10px 30px 10px 30px;
  }
}

@media (max-width: 875px) {
  .main-info {
    width: 100%;
  }

  .userID,
  .userPassword,
  .userName,
  .userEmail,
  .userAge,
  .userSexual,
  .userHeight,
  .userWeight,
  .userMatchName,
  .userMatchPic {
    width: 80%;
  }
  .more-info-basic,
  .more-info-match {
    width: 90%;
  }
  .contributionEachNutritionName,
  .contributionEachNutritionNumber,
  .contributionEachFood {
    font-size: 16px;
  }
  .contributionEachFoodDetails {
    width: 60%;
  }
  .divideLine {
    width: 75%;
  }
}

@media (max-width: 790px) {
  .divideLine {
    width: 60%;
  }
  .more-info-basic,
  .more-info-match {
    width: 100%;
  }
}

@media (max-width: 680px) {
  .contributionEachFood {
    margin: 10px 30px 10px 30px;
  }
  .more-info-basic,
  .more-info-match {
    margin: 10px auto 10px auto;
  }
}

@media (max-width: 650px) {
  .mobileContributionEachFoodDetails {
    display: inline-block;
    margin: 10px 30px 10px 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 10px;
    background-color: #faf5c9;
    position: relative;

    margin-right: 30px;
  }
  .contributionEachFoodDetails {
    display: none;
  }

  .mobileContributionEachNutritionName {
    margin-left: 25px;
  }

  .mobileContributionEachNutritionNumber {
    margin-left: 35px;
  }

  .mobileContributionEachNutritionName p,
  .mobileContributionEachNutritionNumber p {
    color: black;
    font-size: 18px;
    text-align: left;
  }

  .mobileDetailsCloseButton {
    display: inline-block;
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
  }
}

@media (max-width: 585px) {
  .titleTitle,
  .userName,
  .userEmail,
  .userAge,
  .userSexual,
  .userHeight,
  .userWeight,
  .userMatchName,
  .userMatchPic {
    margin: 10px auto 10px auto;
  }
  .userName > input,
  .userAge > input,
  .userEmail > input,
  .userSexual > input,
  .userHeight > input,
  .userWeight > input,
  .userMatchName > input,
  .userMatchPic > input {
    margin-left: 0px;
    width: 80%;
  }
}

@media (max-width: 445px) {
  .divideLine {
    width: 50%;
  }
  .mobileContributionEachNutritionNumber {
    margin-left: 10px;
  }
}

@media (max-width: 380px) {
  .mobileContributionEachFoodDetails {
    margin: 10px 30px 10px 20px;
  }
}
