@import "./common.css";
@import url("https://fonts.googleapis.com/css?family=Capriola&display=swap");

.main-member {
  display: flex;
  flex-direction: row;
  margin: 60px auto 50px auto;
  width: 80%;
}

.main-member-nav {
  margin-top: 40px;
  margin-left: 60px;
}

/* left-side */
.left-main-member {
  width: 50%;
  background: #fffbd5;
  position: relative;
  z-index: -2;
}

.left-main-member > div {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 350px;
  top: 20%;
}

.basket-match {
  width: 400px;
  top: 350px;
}

.container {
  font-family: "Capriola", sans-serif;
  color: #999;
  text-transform: uppercase;
  font-size: 36px;
  font-weight: bold;
  padding-top: 50px;
  width: 600px;
  bottom: 45%;
  display: block;
  z-index: -1;
}

.flip {
  height: 50px;
  overflow: hidden;
  width: 100%;
  text-align: center;
}

.flip > div > div {
  color: #f9e10a;
  padding: 4px 12px;
  height: 45px;
  margin-bottom: 45px;
  display: inline-block;
  width: 100%;
}

.flip div:first-child {
  animation: show 8s linear infinite;
}

.flip div div {
  background: #f6ed9c00;
  width: 100%;
}
.flip div:first-child div {
  background: #f6ed9c00;
  width: 100%;
}
.flip div:last-child div {
  background: #f6ed9c00;
  width: 100%;
}

@keyframes show {
  0% {
    margin-top: -270px;
  }
  5% {
    margin-top: -180px;
  }
  33% {
    margin-top: -180px;
  }
  38% {
    margin-top: -90px;
  }
  66% {
    margin-top: -90px;
  }
  71% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -270px;
  }
}

/* right-side */
.right-main-member {
  width: 50%;
}

.main-member-nav {
  margin-left: 60px;
}

.main-member-nav a {
  font-size: 18px;
  text-align: center;
  color: lightgrey;
  padding: 10px 25px;
  margin: auto 10px 10px 10px;
  letter-spacing: 5px;
  cursor: pointer;
}

.main-member-nav .active {
  font-size: 18px;
  text-align: center;
  color: white;
  background: #f9e10a;
  border-radius: 50px;
  padding: 10px 25px;
  margin: 30px 10px 10px 10px;
  letter-spacing: 5px;
  cursor: pointer;
}

.log-in,
.sign-up {
  width: 100%;
}

/* log-in & sign-up */
.log-in,
.sign-up form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 40px;
  margin-left: 70px;
}

.log-in div,
.sign-up form div {
  width: 100%;
  margin: 20px auto;
}

.log-in div p,
.sign-up form div p {
  font-size: 16px;
  color: rgb(100, 75, 66);
  letter-spacing: 5px;
}

.log-in div input,
.sign-up form div input {
  width: 75%;
  height: 50px;
  border-bottom: 2px solid #f9e10d;
  background-color: white;
  font-size: 15px;
  letter-spacing: 3px;
}

.log-in div input::placeholder,
.sign-up form div input::placeholder {
  letter-spacing: 3px;
  color: lightgray;
}

.login-button,
.register-button {
  display: inline-block;
  border: none;
  width: 190px;
  font-size: 16px;
  text-align: center;
  color: white;
  background: #f9e10a;
  border-radius: 50px;
  padding: 10px;
  margin: auto 10px 10px 10px;
  letter-spacing: 5px;
  transition: all 0.5s;
  cursor: pointer;
}

.login-button {
  margin-top: 80px;
}

.test-login-button {
  display: inline-block;
  border: none;
  width: 190px;
  font-size: 16px;
  text-align: center;
  color: white;
  background: #f9910a;
  border-radius: 50px;
  padding: 10px;
  margin: auto 10px 30px 10px;
  letter-spacing: 5px;
  transition: all 0.5s;
  cursor: pointer;
}

.register-button {
  margin-top: 30px;
}

.login-button span,
.register-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  letter-spacing: 1px;
}

.login-button span:after,
.register-button span:after {
  content: "\00bb ";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.login-button:hover span,
.register-button:hover span {
  padding-right: 25px;
}

.login-button:hover span:after,
.register-button:hover span:after {
  opacity: 1;
  right: 0;
}

/* sign-up */
.login-warning.login-warning,
.email-bad-format-error.email-bad-format-error,
.name-did-not-filled-error.name-did-not-filled-error,
.email-did-not-filled-error.email-did-not-filled-error,
.password-did-not-filled-error.password-did-not-filled-error,
.password-not-same-error.password-not-same-error {
  color: red;
  font-size: 16px;
  letter-spacing: 3px;
  margin-bottom: -20px;
}

.boyMatch {
  margin-top: 20px;
}

.boymatchInput.boymatchInput,
.girlmatchInput.girlmatchInput {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.boymatch span,
.girlmatch span {
  font-size: 16px;
  color: lightslategray;
  margin-left: 20px;
}

.boyMatch,
.girlMatch {
  width: 150px;
  margin-left: 50px;
}

@media (max-width: 1180px) {
  .basket-match {
    width: 300px;
  }
}

/* log-out */
.log-out {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 7px solid #f9e10a;
  border-radius: 5px;
  width: 500px;
  box-shadow: 0px 0px 0px 15px #f7ed97;
  margin: 60px auto 0 auto;
  padding: 30px 50px;
}

.bye-match {
  width: 200px;
  margin-top: 60px;
  margin-bottom: 20px;
}

.exit-buttons {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  margin-bottom: 60px;
}

.log-out-button,
.stay-button {
  display: inline-block;
  border: none;
  width: 190px;
  font-size: 16px;
  text-align: center;
  color: white;
  background: #f9e10a;
  border-radius: 50px;
  padding: 10px;
  margin: auto 10px 10px 10px;
  letter-spacing: 5px;
  transition: all 0.5s;
  cursor: pointer;
}

.log-out-button span,
.stay-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  letter-spacing: 1px;
  color: black;
}

.log-out-button span:after,
.stay-button span:after {
  content: "\00bb ";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.log-out-button:hover span,
.stay-button:hover span {
  padding-right: 25px;
}

.log-out-button:hover span:after,
.stay-button:hover span:after {
  opacity: 1;
  right: 0;
}

@media (max-width: 1250px) {
  .log-in div input,
  .sign-up form div input {
    width: 85%;
  }
}

@media (max-width: 1120px) {
  .left-main-member {
    width: 40%;
  }
  .log-in div input,
  .sign-up form div input {
    width: 90%;
  }
  .container {
    font-size: 25px;
  }
  .basket-match {
    width: 250px;
  }
}

@media (max-width: 1080px) {
  .log-in div input,
  .sign-up form div input {
    width: 100%;
  }
}

@media (max-width: 1000px) {
  .log-out {
    width: 300px;
    margin: 60px auto 0 auto;
    padding: 0px 90px;
  }
  .log-out-button,
  .stay-button {
    width: 130px;
  }
}

@media (max-width: 980px) {
  .basket-match {
    width: 200px;
  }
  .container {
    font-size: 20px;
  }
  .sign-up form div input {
    width: 110%;
  }
  .left-main-member {
    width: 35%;
  }
  .log-in,
  .sign-up form {
    margin-left: 50px;
  }
  .main-member-nav {
    margin-left: 40px;
  }
}

@media (max-width: 840px) {
  .basket-match {
    width: 150px;
  }
  .container {
    font-size: 18px;
  }
  .main-member {
    width: 90%;
  }
}

@media (max-width: 750px) {
  .sign-up form div input {
    width: 115%;
  }
  .right-main-member {
    width: 55%;
  }
}

@media (max-width: 700px) {
  .log-out {
    width: 200px;
  }
  .bye-match {
    width: 150px;
  }
}

@media (max-width: 665px) {
  .left-main-member {
    display: none;
  }
  .right-main-member {
    width: 80%;
  }
}

@media (max-width: 550px) {
  .bye-match {
    margin-top: 30px;
  }
  .exit-buttons {
    margin-bottom: 30px;
  }
  .log-out-button,
  .stay-button {
    font-size: 12px;
  }
  .log-out p {
    font-size: 16px;
  }
}

@media (max-width: 550px) {
  .bye-match {
    margin-top: 30px;
  }
  .exit-buttons {
    margin-bottom: 30px;
  }
  .log-out-button,
  .stay-button {
    font-size: 12px;
  }
  .log-out p {
    font-size: 16px;
  }
}
@media (max-width: 530px) {
  .log-out {
    width: 170px;
    padding: 0px 50px;
  }
  .log-out-button,
  .stay-button {
    width: 100px;
  }
}

@media (max-width: 455px) {
  .log-in,
  .sign-up form {
    margin-left: 20px;
  }
  .right-main-member {
    width: 90%;
  }
  .sign-up form div input {
    width: 100%;
  }
  .main-member-nav {
    margin-left: 10px;
  }
}

@media (max-width: 350px) {
  .log-out {
    width: 150px;
    padding: 0px 50px;
  }
  .bye-match {
    width: 100px;
    margin-top: 20px;
  }
  .exit-buttons {
    margin-bottom: 20px;
  }
  .log-out-button,
  .stay-button {
    width: 90px;
  }
}
