@import "./common.css";

.matchstatus-main {
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: space-around;
  margin: 60px auto 0px auto;
}

/* status */
.match-status {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-right: 10px;
}

.match-status span {
  margin: 10px 0;
}

.match-name {
  font-weight: bold;
  color: #f7ed97;
  font-size: 30px;
}

.divide-line {
  width: 100%;
  border-bottom: 3px solid grey;
  padding: 0;
}

/* .match-mood img,
.match-healthy img {
  width: 20px;
  margin-right: 5px;
}

.match-backpack img {
  width: 30px;
  margin-right: 10px;
}

.match-backpack span {
  color: rgb(114, 114, 114);
  font-size: 15px;
} */

/* picture */

.backgroud {
  border: 10px solid #f7ed97;
  border-radius: 5px;
  width: 500px;
  height: 340px;
  position: relative;
  background-image: url("../imgs/happy-bg.png");
  background-repeat: no-repeat;
  margin-left: 10px;
}

.match-in-background {
  width: 150px;
  position: absolute;
  top: 150px;
  right: 250px;
}

.weekly-suggestion {
  font-size: 15px;
  color: grey;
}

@media (max-width: 1360px) {
  .backgroud {
    width: 400px;
    height: 300px;
  }
  .match-in-background {
    top: 130px;
    right: 180px;
  }
}
@media (max-width: 1000px) {
  .matchstatus-main {
    flex-direction: column-reverse;
    align-items: center;
  }
  .match-status {
    width: 100%;
  }
  .backgroud {
    width: 500px;
    height: 340px;
    margin-bottom: 20px;
    margin-left: 0;
  }
  .match-in-background {
    right: 250px;
  }
}

@media (max-width: 700px) {
  .match-status {
    width: 80%;
  }
}

@media (max-width: 600px) {
  .backgroud {
    width: 400px;
    height: 300px;
  }
  .match-in-background {
    right: 170px;
  }
}

@media (max-width: 495px) {
  .backgroud {
    width: 300px;
    height: 200px;
    background-position: -5px;
  }
  .match-in-background {
    right: 100px;
    width: 120px;
    top: 70px;
  }
  .match-status {
    width: 100%;
  }
}
